@model User
@{
    ViewData["Title"] = "Secure Chat";
    var error = ViewBag.Error as string;
}

<div id="error_area">
    @if (error != null)
    {
        <div id="error">@error</div>
    }
</div>

<div id="input_area">
    <h3>Log In</h3><br />

    <form method="post" asp-controller="User" asp-action="Login">
        <div>
            <input asp-for="Name" placeholder="User Name" /><br />
        </div>

        <div>
            <input asp-for="Password" placeholder="Password" /><br />
        </div>

        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
<h5 class="footer">
    New to ActiveBear?
    <a asp-controller="User" asp-action="Register">Register</a>
    or
    <a href="https://github.com/aiden-sobey/ActiveBear">Learn More</a>.
</h5>