@model User
@{
    ViewData["Title"] = "Secure Chat";
}

<div id="input_area">
    <h3>Log In</h3><br />

    <form method="post" asp-controller="User" asp-action="Login">
        <div>
            <input asp-for="Name" placeholder="User Name" /><br />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <input asp-for="Password" placeholder="Password" /><br />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <input type="submit" value="Login" />
            <a href="/User/Register">Register</a>
        </div>
    </form>
</div>