.message_container {
    width: 100%;
    overflow: auto;
    height: 700px;
}

.message_author {
    float: left;
    text-align: center;
    width: 100px;
    height: 100%;
    vertical-align: middle;
}

#messaging_footer {
    padding-top: 15px;
    width: 100%;
}

.password_holder {
    float: right;
    width: 300px;
}

.message_holder {
    float: left;
    width: 650px;
}

#messageInput {
    width: 500px;
}

.message_contents {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 500px;
    padding: 10px;
    overflow: hidden;
    border: none;
    margin-bottom: 30px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(5,58,252,0.51);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4), 1px 1px 1px 0 rgba(191,9,9,0.3);
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4), 1px 1px 1px 0 rgba(191,9,9,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
