.message_container {
    width: 100%;
    overflow: auto;
    max-width: 550px;
}

input {
    text-align: center;
    margin-bottom: 10px;
}

.message_author {
    margin-right: 20px;
}

.notification {
    text-align: center;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#messaging_footer {
    padding-top: 15px;
    height: 50px;
}

.password_holder {
    float: right;
    width: 300px;
}

.message_holder {
    float: left;
    width: 650px;
}

#messageInput {
    text-align: left;
    display: table-cell;
    max-width: 550px;
    width: 100%;
}

#input_area {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;

    text-align: center;
}

.message {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 12px;
    overflow: hidden;
    border: none;
    margin-bottom: 15px;
    margin-right: 20px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(5,58,252,0.51);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#error_area {
    margin-top: 5%;
    text-align: center
}

#error {
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 5px;
    width: auto;
    height: 27px;
    background-color: red;
    font-weight: bold;
    font-size: large;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

#channel_display {
    text-align: center;
}
