<div class="body">
    <div id="input_area">
        <h2>New Channel</h2><br />
        <div id="channel_name_input">
            <input id="channel_name_submit" placeholder="Channel Name" />
        </div>
        <div id="channel_key_input">
            <input id="channel_key_submit" placeholder="Channel Key" type="password" />
        </div>
        <div id="channel_submit_holder">
            <input type="submit" value="Create" id="channel_create_button" />
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<script src="~/js/sha256.js"></script>
<script src="~/js/encryption.js"></script>
<script src="~/js/chatHub.js"></script>
<script src="~/js/createChannel.js"></script>