@page
@{}

<div class="body">
    <h2>Create a channel</h2>

    <div id="input_area">
        <div id="channel_name_input">
            <input id="channel_name_submit" placeholder="Channel Name" />
        </div>
        <div id="channel_key_input">
            <input id="channel_key_submit" placeholder="Channel Key" />
        </div>
        <div id="channel_submit_holder">
            <input type="submit" value="Create" id="channel_create_button" />
        </div>
    </div>
</div>

<script src="~/js/channelCreate.js"></script>