@page
@{}
@model Message
<div class="body">
    <div id="container" class="message_container">
    </div>

    <div id="input_holder">
        <input type="text" , id="messageInput" />
        <input type="button" id="sendButton" value="Connecting..." disabled="true" />
    </div>


    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</div>