@page
@{
    var channel = ViewBag.Channel as Channel;
    var messages = ViewBag.Messages as List<Message>;
    var userNames = ViewBag.UserNames as Dictionary<Message, User>;
}
@model Message

<h2>@channel.Title</h2>

@foreach (var message in messages)
{
    <div class="message_container">
        <div class="message_author">@userNames[message].Name @@ @message.SendDate.ToShortTimeString()</div>
        <div class="message_contents">@message.EncryptedContents</div>
    </div>
}

<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
</div>

<input type="text", id="messageInput" />
<input type="button" id="sendButton" value="Send" />

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

