@model User
@{
    var error = ViewBag.Error as string;
}

<div id="error_area">
    @if (error != null)
    {
        <div id="error">@error</div>
    }
</div>

<div id="input_area">
    <h2>Register</h2><br />

    <form method="post" asp-controller="User" asp-action="Register">
        <div>
            <input asp-for="Name" placeholder="User Name" />
        </div>

        <div>
            <input asp-for="Description" placeholder="Description" />
        </div>

        <div>
            <input asp-for="Password" placeholder="Password"/>
        </div>

        <div>
            <input type="submit" value="Register" />
        </div>
    </form>
</div>