@{
}
<h2>ActiveBear Source Code</h2>

<p>ActiveBear is proudly 100% open-source, meaning you can view, download and alter the source at your discretion.</p>
<br />
<a href="https://github.com/aiden-sobey/ActiveBear">Github photo</a>
