@model Message

<div id="container" class="message_container">
</div>

<div id="messaging_footer">
    <div class="message_holder">
        <input type="text" id="messageInput" hidden="true" />
    </div>
    <div class="password_holder">
        <input type="text" id="passwordInput" hidden="true" />
    </div>

    <div hidden="true" id="currentUser"></div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/engage.js"></script>