@model ChannelAuth
@{
    var channel = ViewBag.Channel as Channel;
}

<div id="input_area">
    <h3>Unlock access to: </h3>
    <h3><b>@channel.Title</b></h3><br />

    <form method="post" asp-controller="ChannelAuth" asp-action="AuthUserToChannel">
        <div>
            <input asp-for="HashedKey" placeholder="Channel Key" />
            <span asp-validation-for="HashedKey"></span>
        </div>

        <div>
            <input type="submit" value="Decrypt" />
        </div>
    </form>
</div>